<p></p>
<p></p>
<p></p>
<div class="row">
    <div class="col text-center">
        <h2>О нас</h2>
    </div>
</div>


<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-1">
    <div class="col border rounded p-5 text-center bg-dark">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none justify-content-center">
            <img src="~/logo_white.png" width="300" height="100" />
        </a>
        <h2 class="text-white">
            ...здесь Вы можете найти и бесплатно скачать бесшовные и PBR текстуры для 3D моделирования в любых удобных вам программах,
            а также загрузить свои текстуры для других пользователей...
        </h2>
        <h2 class="text-white">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" class="text-white">
                Официальный ютуб-канал проекта
            </a>
        </h2>
        <h2 class="text-white">
            <a href="https://vk.com/aizawashota" class="text-white">
                ПО всем вопросам бить его
            </a>
        </h2>
    </div>
</div>
