
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-1">
    <div class="col border rounded p-5 text-center bg-dark">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none justify-content-center">
            <img src="~/logo_white.png" width="300" height="100" />
        </a>
        <br />
        <br />
        <h2 class="text-white">
            ХАЛЯВА!!! ВСЕ БЕСПЛАТНО!!!
        </h2>
        <br />
        <br />
        <img src="~/Jolly_Roger.gif" style="width:720px;height:400px;" />
    </div>
</div>
